# Node.js modules
node_modules/

# Build outputs
dist/

# Prisma files
prisma/*
!prisma/schema.prisma
!prisma/migrations/

# Lock file
/package-lock.json

# Logs
/logs
*.log

# Coverage reports
coverage/

# .env
.env
*.env.*
