<div class="sm:flex-auto">
  <h1 class="text-base font-medium leading-6 text-neutral-800 dark:text-white">
    <%= server.name.charAt(0).toUpperCase() + server.name.slice(1) %>
  </h1>
  <p class="mt-1 tracking-tight text-sm text-neutral-500 dark:text-neutral-400">
    <%= server.description %>
  </p>
</div>
