<%- include('../components/header', { title: 'Dashboard' }) %>
<main class="h-screen w-screen">
<div class="flex h-screen">
  <%- include('../components/template') %>
</div>
</main>
<%- include('../components/footer') %>