<%- include('../components/header', { title: 'Dashboard' }) %>
<main class="bg-neutral-900 h-screen w-screen">
<div class="flex h-screen">
  <%- include('../components/sidebar') %>
</div>
</main>
<%- include('../components/footer') %>